body {
    font-family: "Jost", sans-serif;
    padding-top: 140px;

    .layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
      
    .content {
        flex: 1; 
    }
    .margin-top-200 {
        margin-top: 200px;
    }
    .margin-bottom-200 {
       margin-bottom: 200px; 
    }
    .margin-bottom-50 {
        margin-bottom: 50px;
    }
    .page-content {
        margin-top: 100px;

        .card {
            border: none;
            border-radius: 25px;
            overflow: hidden;
            .card-body {
                background-color: #FDF3F0;
                text-align: center;
                padding: 2rem 4rem;
            }
            .card-title {
                text-transform: uppercase;
                color: #E7816B;
                letter-spacing: 5px;
                margin-bottom: 1rem;;
            }

        }
    }

    .location-map .leaflet-control-container{
        display: none;
      }
    
}       